*{
    margin:0;
    padding:0;
    box-sizing:border-box;
   

}
.navbar{
    display:flex;
    align-items:right;
    padding: 20px;
    
}

nav{
    flex: 1;
    text-align: right;
}


nav form{
   margin-top: 20px;
   padding: 25px;
}   
nav ul li:hover{
    transform: translateY(-4px);
}

nav ul{
    display: inline-block;
    list-style-type: none;
    
    
}
nav ul li{
    display: inline-block;
    margin-right: 30px;
    transition: transform 0.5s;
}
 .nav i:hover{
    cursor: pointer;
    transform: translateY(-5px);
    transition: transform 0.5s;
}
a{
    text-decoration:none;
    color:rgb(106, 148, 255);
}
p{
    color:#000000;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}


    

.col-2{
    flex-basis: 100%;
    min-width:100px;
}
.col-2 img{
    max-width: 100%;
    padding: 30px 0;

}
.col-2 h1{
    font-size: 50px;
    line-height: 50px;
    margin: 10px 0;
    
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: white;
    padding: 8px 30px;
    margin: 10px 0;
    margin-top: 10px;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background:rgba(38, 255, 0, 0.667);
}
.header{
    background: radial-gradient(rgb(255, 135, 135), rgb(136, 217, 255));
}
.categories{
    margin: 20px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 50px;
}
.col-3 img{
    width: 90%;

}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 70px;
    padding-right: 70px;
}
.col-4{
    flex-basis: 25%;
    padding:10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    
}
.col-4 img{
    width: 100%;
    margin-bottom: 10px;
}
.title{
    text-align: center;
    margin: 0 auto 10px;
    position: relative;
    line-height: 60px;
    color: rgb(0, 3, 65);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.title::after{
    content:'';
    background-color:orangered ;
    width: 80px;
    height:5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}
.rating{
    color: #ff8812;
    
    
}
h4{
    color: #555;
    font-weight: normal;
    
    
}
.col-4 p{
    font-size: 18px;
    color: #4c0900;
    font-family: 'Courier New', Courier, monospace;
}
.col-4:hover{
    transform: translateY(-10px);

}
.wat{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
   


}
.scol-2{
    flex-basis: 50;
    min-width:300px;
    font-size: 18px;
    color: #4c0900;
    margin: 10px 0;
    
}
.scol-2 img{
    max-width: 100%;
    padding: 15px 0;
    margin-right: 100px;
   
    

}
.scol-2 h1{
    font-size: 50px;
    line-height: 60px;
    color: #0a013f;
    font-family: 'Times New Roman', Times, serif;
}
.col-3 p{
    font-size: 18px;
    color: #4c0900;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;

}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 22px;
    color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #0a013f;

}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

.comment-box h2{
    font-size: 20px;
    margin-bottom: 15px;
}
.comment-box input{
    width: 100%;
    height: 50px;
    padding: 0 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid rgb(219, 216, 255);
}
.comment-box input:focus{
    border: 1px solid black;
    outline: 0;
}
.comment-box textarea{
    width: 100%;
    height: 150px;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgb(196, 199, 255);
}
.comment-box textarea:focus{
    border: 1px solid black;
    outline: 0;
}
.comment-box button{
    border: 0;
    padding: 10px 30px;
    background: #bab9b9;
    font-size: 14px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    
}
.comment-box button:hover{
    background-color: rgb(44, 73, 63);
}


.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0%);
}

.footer{
    background:  rgb(8, 8, 8);
    color: #fcfcfc;
    font-size: 14px;
    padding: 50px;
    background-size: cover;
    width: 100%;
}

.footer p{
    color: #faf7f6;
}
.footer h3{
    color: #afafaf;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: fit-content;
    margin-bottom: 20px ;
}
.footer-col-2 p{
    font-size: 14px;
    color: #faf7f6;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.footer-col-1 p{
    cursor: pointer;
    font-size: 18px;
    color: #fbf8f8;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.footer-col-1 p:hover{
    color: #865ef4;

}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: left;
    color: #ffffff;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 10px;
}
.footer-col-3 li:hover{
    color: #f34c4c;

} .footer-col-4 li:hover{
    color: #f34c4c;

}

ul{
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
    cursor: pointer;
}
.footer hr{
    border: none;
    background: #f34c4c;
    height: 1px;
    margin: 20px 0;
}
.Copyright{
    text-align: center;
}
.menu-icon{
    width: 20px;
    height: 15px;
    margin-left: 20px;
    display: none;
}
/*-------------All Products---------*/

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
    font-family: Arial, Helvetica, sans-serif;
}
select{
    border: 1px solid#865ef4;
    padding: 5px;
    width: 120px;
    height: 30px;
}
select :focus{
    outline: auto;
}

.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color: #fcfcfc;
}

.col-2 h3, .col-2 p{
    color: #000000e3;
}
.col-2 p{
    font-size: 20px;
}
    
.single-product{
    margin-top: 10px;
}
.single-product col-2 img{
    padding: 0;
}
.single-product col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid rgb(255, 109, 5);
}
.single-product .fa{
    color: #1f008d;
    margin-left: 10px;
}
.row-2 p{
    color: #0c003b;
    cursor: pointer;

}



 .single-product .row{
    text-align: left;
 }
 .single-product .col-2{
    padding: 20px 0;
 }


 *{
    margin:0 ;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient() (rgba(251, 12, 12, 0.4),rgba(0,0,0,0.40));
    background-position: center;
    background-size: center;
}
.navbar{
    width: 90%;
    padding: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 160px;
    margin-top: -10px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}
.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
li a:hover{
    background: white;
    transition: 0.5s;
}
.navbar a:hover{
    color: rgb(249, 0, 0);
}

.content{
    width: 100%;
    position: absolute;
    color: white;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
}
.content h1{
    color: #ffbf00;
    text-align: center;
    margin-top: 80px;
    font-size: 90px;
    font-weight: 1000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.content p{
    color: rgb(255, 255, 255);
    text-align: center;
    
}
button{
    width: 200px;
    padding: 15px;
    margin: 20px 5px;
    text-align: center;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    border: 2px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}
button:hover{
    background: rgb(0, 155, 226);
    transition: 0.5s;
}
button:hover{
    color: white;
}
.banner video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio:16/9){
    .banner video/mp4{
        width: auto;
        height: auto;
    }
    
    
}
/*----------about-------*/
.wrapper{
    min-height: 100vh;
    width: 100%;
}
.wrapper video{
    width: 100%;
    margin-top: 40px;
    
}
.testimonial{
    padding: 30px 100px;
}
article h5{
    font-size: 50px;
    font-weight: 800px;
    text-transform: uppercase;
    color: #000000;
}
h1{
    color: #000000;
    text-align: left;
    
}

 article h1:after{
    content: "";
    height:5px;
    width: 225px;
    background-color: #ff8e0e;
    display: block;
    margin: auto;
}
article img{
    height: 225px;
    width: 225px;
    border: 2px solid #3e3aff;
    border-radius: 80%;
    margin-top: 0;
    
}


blockquote{
    margin-top: 30px;
    color: #000000;
    
        p{
            color: #01002a;
            margin-left: 50px;
            
            
        }
    
}
 /*----------media querry for menu-------*/
 @media only screen and (max-width:800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition:max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fcfcfc;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    

 }
 /*media querry for less than 600 screen size----*/
 @media only screen and (max-width:600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .content h1{
        
        text-align: center;
    }
    
   
 }